<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LibrarianServlet</servlet-name>
  	<display-name>LibrarianServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.LibrarianServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatronServlet</servlet-name>
  	<display-name>PatronServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.PatronServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatronServletUpdate</servlet-name>
  	<display-name>PatronServletUpdate</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.PatronServletUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LibrarianServletUpdatePassword</servlet-name>
  	<display-name>LibrarianServletUpdatePassword</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.LibrarianServletUpdatePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LibrarianServletUpdatePatrons</servlet-name>
  	<display-name>LibrarianServletUpdatePatrons</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.LibrarianServletUpdatePatrons</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LibrarianServletUpdateUsername</servlet-name>
  	<display-name>LibrarianServletUpdateUsername</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.LibrarianServletUpdateUsername</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatronServletUpdatePassword</servlet-name>
  	<display-name>PatronServletUpdatePassword</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.PatronServletUpdatePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatronServletUpdateUsername</servlet-name>
  	<display-name>PatronServletUpdateUsername</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.PatronServletUpdateUsername</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpServlet</servlet-name>
  	<display-name>SignUpServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LibrarianServlet</servlet-name>
  	<url-pattern>/LibrarianServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatronServlet</servlet-name>
  	<url-pattern>/PatronServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatronServletUpdate</servlet-name>
  	<url-pattern>/PatronServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LibrarianServletUpdatePassword</servlet-name>
  	<url-pattern>/LibrarianServletUpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LibrarianServletUpdatePatrons</servlet-name>
  	<url-pattern>/LibrarianServletUpdatePatrons</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LibrarianServletUpdateUsername</servlet-name>
  	<url-pattern>/LibrarianServletUpdateUsername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatronServletUpdatePassword</servlet-name>
  	<url-pattern>/PatronServletUpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatronServletUpdateUsername</servlet-name>
  	<url-pattern>/PatronServletUpdateUsername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpServlet</servlet-name>
  	<url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
</web-app>
